/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Heading */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Task List */
  #taskList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .task.completed {
    background-color: #d9d9d9;
  }
  
  .task .status {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
  }
  
  .task .taskName {
    flex: 1;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .task .deleteButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #d9534f;
    color: #fff;
    cursor: pointer;
  }
  
  .task .deleteButton:hover {
    background-color: #c9302c;
  }
  
  /* Active Button */
  .active {
    background-color: #555;
    color: #fff;
  }
  
  .active:hover {
    background-color: #555;
  }
  